.block {
    --bg-color: #E1F8FF;
    background-color: var(--bg-color);
    padding-top: 70px;
    padding-bottom: 65px;
}

.bg {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.title {
    color: #0B1B3B;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 80px;
}

.statsWrapper {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    gap: 16px;
}

.stat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background: #90D7FF;
    padding: 22px 27px;
}

.statValue {
    color: #040D1D;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.statLabel {
    color: #040D1D;

    text-align: center;
    /* Mobile Title */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.locationsWrapper {
    border-radius: 10px;
    background: #FFF;
    padding: 30px 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-bottom: 45px;
}

.locationsTitle {
    color: #040D1D;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width:991.9px) {
    .block {
        padding-top: 55px;
        padding-bottom: 45px;
    }

    .title {
        margin-bottom: 65px;
        font-size: 32px;
    }

    .statsWrapper {
        margin-top: 20px;
        margin-bottom: 35px;
        flex-direction: column;
        gap: 14px;
    }

    .stat {
        gap: 6px;
        padding: 20px 30px;
    }

    .locationsWrapper {
        padding: 16px 42px 0;
        gap: 20px;
    }

    .locationsTitle {
        font-size: 20px;
        font-weight: 800;
    }

}