.block {
    --bg-color: #0B1B3B;
    --title-color: #ffffff;


}

.wrapper {
    position: relative;
    background-color: var(--bg-color);
    padding: 24px 0 72px;
}

.lines {
    position: absolute !important;
    left: 0;
    top: 50px;
    max-width: 50%;
}

.title {
    color: var(--title-color);
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 80px;
}

.imageWrapper {
    position: sticky;
    top: 96px;
}


.itemsWrapperOut {
    /* position: relative;
    max-height: 630px;
    overflow: auto;
    padding-right: 4px; */
}

.itemsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
}


/* .bottomOverlay {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 16px;
    height: 25px;
    background: linear-gradient(180deg, rgba(11, 27, 59, 0.00) -93.44%, #0B1B3B 99.68%);
}

.itemsWrapperOut::-webkit-scrollbar-track {
    background-color: var(--bg-color) !important;
}

.itemsWrapperOut::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    background-color: var(--bg-color) !important;
}

.itemsWrapperOut::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
} */

@-moz-document url-prefix() {
    .itemsWrapperOut {
        scrollbar-color: var(--title-color) var(--bg-color)F5;
        scrollbar-width: thin;
    }
}



.item {
    padding: 24px 21px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    display: flex;
    gap: 20px;
    min-height: 190px;
}


.itemIcon {
    min-width: 40px;
}

.itemTitle {
    color: var(--title-color);
    margin-bottom: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.itemDescription {
    margin-top: 22px;
    color: var(--title-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


@media screen and (max-width:991.9px) {

    .wrapper {
        padding: 45px 0;
    }

    .title {
        text-align: left;
        font-size: 28px;
        margin-bottom: 45px;
    }

    .imageWrapper {
        position: static;
    }

    .item {
        gap: 10px;
        min-height: 280px;
        flex-direction: column;
        height: 100%;
    }

    .itemTitle {
        font-size: 20px;
    }

    .itemDescription {
        font-size: 16px;
    }
}