.block {
    --bg-color: #CBF0FF;
    --title-color: #1E1E1E;
    background-color: var(--bg-color);
    position: relative;
    padding: 65px 0 50px;
}

.bg {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.title {
    color: var(--title-color);

    text-align: center;
    /* Header */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.description {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 32px;
}

@media screen and (max-width:767.9px) {

    .block {
        padding: 35px 0 44px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 16px;
    }
}