.block {
    position: relative;
    padding: 53px 0 110px;
}

.bg {
    position: absolute !important;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 0;
}

.wrapper {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.10);
    padding: 50px 80px 55px;
}

.title {
    color: #040D1D;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

.content {
    color: #040D1D;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


@media screen and (max-width:991.9px) {
    .block {
        padding: 35px 0 55px;
    }

    .wrapper {
        padding: 24px 17px 32px;
    }

    .title {
        font-size: 20px;
        margin-top: 15px;
    }

    .content {
        font-size: 14px;
        line-height: 20px;
    }
}