.block {
    --text-color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    color: var(--text-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.review {
    color: var(--text-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.name {
    color: var(--text-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.position {
    color: var(--text-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}