.block {
    margin: 38px 0 32px;
}

.title {
    color: #000;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.subtitle {
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media screen and (max-width:767.9px) {
    .title {
        font-size: 28px;
        margin-bottom: 14px;
    }

    .subtitle {
        font-size: 18px;
    }
}