.block {
    padding-top: 40px;
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
}

.lines {
    position: absolute !important;
    top: 0;
    z-index: 0;
}

.title {
    color: #0B1B3B;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.logosWraper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 70px 0;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
}


@media screen and (max-width:991.9px) {
    .block {
        padding-top: 30px;
        padding-bottom: 55px;
    }

    .lines {
        top: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .title {
        font-size: 28px;
    }

    .logosWraper {
        gap: 20px;
        margin: 30px 0 44px;
    }
}