.block {
    --bg-color: #DAE3F3;
    padding: 60px 0 35px;
    background-color: var(--bg-color);
}

.title {
    color: #000;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

@media screen and (max-width:767.9px) {

    .block {
        padding: 45px 0 40px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 16px;
    }
}