.block {
    position: relative;
}

.lines {
    position: absolute !important;
    top: 0;
    left: 0;
    max-width: 50%;
}

.wrapper {
    padding: 40px 0;
    position: relative;
    min-height: 300px;
}


.title {
    color: #0A141B;

    text-align: center;
    /* Header */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.subtitle {
    color: #0A141B;

    text-align: center;
    /* Medium */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.itemsWraper {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 80px;
    justify-content: space-around;
    margin-top: 64px;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.description {
    color: #0A141B;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description b {
    font-size: 32px;
    font-weight: 800;
}

.bottomImage {
    width: 100%;
    margin-top: -2px;
}

@media screen and (max-width:991.9px) {

    .wrapper {
        min-height: 420px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: left;
    }

    .subtitle {
        font-size: 18px;
        line-height: 110%;
        text-align: left;
    }

    .itemsWraper {
        grid-template-columns: auto;
        row-gap: 40px;
        justify-content: start;
        margin-top: 32px;
    }

    .item {
        gap: 16px;
    }

    .description {
        font-size: 14.679px;
        font-weight: 600;
        line-height: 150%;
    }

    .description b {
        font-size: 19.571px;
        font-weight: 300;
        line-height: 120%;
    }

}