.block {
    --bg-color: transparent;
    --bg-gradient: linear-gradient(89deg, #B09CFF 0.33%, #5D38EE 99.5%);

    background-color: var(--bg-color);
    background-image: var(--bg-gradient);
    padding: 25px 0 37px;
}

.mainLogoWrapper {
    border-right: 1px solid #0B1B3B;
    padding-right: 24px;
    margin-right: 24px;
    min-height: 60px;
    align-items: center;
    display: flex;
}

.dark .mainLogoWrapper {
    border-right-color: #ffffff;
}

.logosWraper {
    display: flex;
    gap: 24px;
    min-height: 60px;
    align-items: center;
}

a.seeAll {
    padding: 10px;
    overflow: hidden;
    color: #0A141B;
    text-align: center;
    text-overflow: ellipsis;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.dark a.seeAll {
    color: #ffffff;
}


@media screen and (max-width:1399.9px) {
    .mainLogoWrapper {
        border-right: unset;
        /* padding-right: 0; */
        /* margin-right: 0; */
    }
    .logosWraper {
        margin-top: 15px;
    }
}

@media screen and (max-width:991.9px) {
    .mainLogoWrapper {
        border-right: unset;
        padding-right: 0;
        margin-right: 0;
    }

    .logosWraper {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
    }
}